h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 1.375em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.container {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/**
 * Links
 */
a {
  text-decoration: none;
  transition: all ease-out 0.3s;
  &:link,
  &:visited,
  &:hover {
    color: $site-primary;
    outline: 0;
  }
}

/**
   * Images
   */
img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

// Form Elements

input,
textarea {
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 8px 15px;
  &[type='submit'] {
    width: 120px;
    margin: 0 auto;
    -webkit-appearance: none;
    display: block;
    background: $site-primary;
    border: 1px solid $site-primary;
    border-radius: 30px;
    color: #fff;
  }
}

// Common Spacing

.pt {
  padding-top: 15px;
}

.pr {
  padding-right: 15px;
}

.pb {
  padding-bottom: 15px;
}

.pl {
  padding-left: 15px;
}

.dpt {
  padding-top: 25px;
}

.dpr {
  padding-right: 25px;
}

.dpb {
  padding-bottom: 25px;
}

.dpl {
  padding-left: 25px;
}

.mt {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}

.dmt {
  margin-top: 25px;
}

.dmb {
  margin-bottom: 25px;
}

.logo {
  margin: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.block-heading {
  font-weight: 100;
  font-size: 1.875em;
}

.body-wrapper {
  margin-top: 54px;
  @media screen and (min-width: 1024px) {
    margin-top: 80px;
  }
}
