<footer class="footer">
    <div class="container">
        <div class="footer-left fl">
            <p>2017 Company. All Rights reserved.</p>
        </div>
        <div class="footer-right fr">
            <div class="follow-wrap fr">
                <span>Follow Us on:</span>
                <ul class="social-follow">
                    <li class="scl-fb">Facebook<i class="fab fa-facebook-square"></i></li>
                    <li class="scl-lnkd">Linkedin<i class="fab fa-linkedin"></i></li>
                    <li class="scl-twt">Twitter<i class="fab fa-twitter"></i><li>
                    <li class="scl-ml">Mail<i class="fas fa-envelope"></i></li>
                </ul>
            </div>            
        </div>
    </div>
</footer>