<div class="block-banner">
    <div class="banner-detail-wrap">
        <div class="banner-title">
            <h2 class="banner-heading">Integer Bibendum Sit amet arcu vel egestas.</h2>
        </div>
        <div class="banner-service grd-row dmt">        
            <div class="service-item grd-3-col">
                <div class="service-wrap">
                    <div class="grp-left">{% include "../../01-atoms/images/icon-1.twig" %}</div>
                    <div class="grp-right"><a href="#">Service Name</a></div>
                </div>                
            </div>
            <div class="service-item grd-3-col">
                <div class="service-wrap">
                    <div class="grp-left">{% include "../../01-atoms/images/icon-2.twig" %}</div>
                    <div class="grp-right"><a href="#">Service Name</a></div>
                </div> 
            </div>
            <div class="service-item grd-3-col">
                <div class="service-wrap">
                    <div class="grp-left">{% include "../../01-atoms/images/icon-3.twig" %}</div>
                    <div class="grp-right"><a href="#">Service Name</a></div>
                </div> 
            </div>
        </div>        
    </div>
</div>