<div class="block-about">
    <div class="container">
        <div class="grd-row">
            <div class="grd-2-col">
                <div class="about-wrap">
                    <h2>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
                </div>
            </div>
            <div class="grd-2-col">
                <div class="about-img">
                    <img src="/images/map.jpg" alt="About us">
                </div>
            </div>
        </div>
    </div>
</div>