<div class="block-testimonial">
    <div class="container">
        <div class="testimonial-slide">
            <div class="test-wrap">
                <div class="client-message">
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="client-info clearfix">
                    <div class="grp-lft">{% include "../../01-atoms/images/user.twig" %}</div>
                    <div class="grp-rgt">
                        <h3>Client Name</h3>
                        <span class="position">Position, ORG</span>
                    </div>
                </div>  
            </div>   
            <div class="test-wrap">
                <div class="client-message">
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="client-info clearfix">
                    <div class="grp-lft">{% include "../../01-atoms/images/user.twig" %}</div>
                    <div class="grp-rgt">
                        <h3>Client Name</h3>
                        <span class="position">Position, ORG</span>
                    </div>
                </div>  
            </div>   
            <div class="test-wrap">
                <div class="client-message">
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="client-info clearfix">
                    <div class="grp-lft">{% include "../../01-atoms/images/user.twig" %}</div>
                    <div class="grp-rgt">
                        <h3>Client Name</h3>
                        <span class="position">Position, ORG</span>
                    </div>
                </div>  
            </div>    
            <div class="test-wrap">
                <div class="client-message">
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="client-info clearfix">
                    <div class="grp-lft">{% include "../../01-atoms/images/user.twig" %}</div>
                    <div class="grp-rgt">
                        <h3>Client Name</h3>
                        <span class="position">Position, ORG</span>
                    </div>
                </div>  
            </div>    
            <div class="test-wrap">
                <div class="client-message">
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="client-info clearfix">
                    <div class="grp-lft">{% include "../../01-atoms/images/user.twig" %}</div>
                    <div class="grp-rgt">
                        <h3>Client Name</h3>
                        <span class="position">Position, ORG</span>
                    </div>
                </div>  
            </div>    
            <div class="test-wrap">
                <div class="client-message">
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="client-info clearfix">
                    <div class="grp-lft">{% include "../../01-atoms/images/user.twig" %}</div>
                    <div class="grp-rgt">
                        <h3>Client Name</h3>
                        <span class="position">Position, ORG</span>
                    </div>
                </div>  
            </div>          
        </div>
    </div>
</div>