<header class="header">
    <div class="container">
     <a href="#" id="toggle-expand" class="toggle-expand">
        <span class="toggle-expand__open">
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>      
        </span>
    </a>
      <div class="site-logo">
        {% include "../../01-atoms/images/logo.twig" %}
      </div>    
      <span class="mobile-contact"><i class="far fa-comment-alt"></i></span>
    {% include "../../02-molecules/main-menu/main-menu.twig" %}
    </div> 
    
</header>