<nav class="main-menu">   
    <ul class="main-menu-list">
        <li class="main-menu-item"><a href="#">About</a>
            <span class="drop-down"><i class="fas fa-chevron-down"></i></span>
            <ul class="sub-menu-list">
                <li class="sub-menu-item"><a href="#">Our Story</a></li>
                <li class="sub-menu-item"><a href="#">Why Company</a></li>
                <li class="sub-menu-item"><a href="#">Success Stories</a></li>
                <li class="sub-menu-item"><a href="#">Careers</a></li>
            </ul>
        </li>
         <li class="main-menu-item"><a href="#">Services</a>
            <span class="drop-down"><i class="fas fa-chevron-down"></i></span>
            <ul class="sub-menu-list">
                <li class="sub-menu-item"><a href="#">Staffing</a></li>
                <li class="sub-menu-item"><a href="#">Delivery Support</a></li>
                <li class="sub-menu-item"><a href="#">Project Management</a></li>
            </ul>
        </li>
         <li class="main-menu-item"><a href="#">Solutions</a>         
            <span class="drop-down"><i class="fas fa-chevron-down"></i></span>
            <ul class="sub-menu-list">
                <li class="sub-menu-item"><a href="#">CMS Solutions</a></li>
                <li class="sub-menu-item"><a href="#">DevOps</a></li>
                <li class="sub-menu-item"><a href="#">Marketing</a></li>
                <li class="sub-menu-item"><a href="#">Quality Assurance</a></li>
            </ul>
        </li>
         <li class="main-menu-item"><a href="#">Blog</a>           
        </li>
        <li class="main-menu-item">
            {% include "../../01-atoms/button/button.twig" %}
        </li>
    </ul>    
</nav>